.navbar-outer-container{
    width: 100%;
    position: absolute;
    z-index: 200;
}

#navbar-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;

}

.logo-container {
    width: 186px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.navbar-socials{
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
}

.navbar-social-div{
    width: 25px;
    height: auto;
}

.navbar-social-img{
    width: 100%;
    height: auto;
}

.resume-btn-container {
    position: relative;
}

.download-resume {
    border-radius: 30px;
    background-color: #FFF;
    color: #000;
    font-family: "Josefin Sans";
    font-weight: 800;
    padding: 16px 20px;
    position: relative;
    border: none;
    cursor: pointer;
    isolation: isolate;
    transition: background-color 0.5s ease-in-out;
}

.download-resume:hover{
    background-color: #000000;
}

.download-resume::before {
    content: '';
    position: absolute;
    filter: blur(30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    background: white;
    border-radius: 60px;
    z-index: -1;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .navbar-socials{
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    #navbar-container{
        width: 95%;
        margin: auto;
    }
    .logo-container {
        width: 150px;
        height: 50px;
        background-size: contain;
    }

    .download-resume {
        padding: 12px 12px;
        font-size: 0.7rem;
    }

    .download-resume::before {
        height: calc(100% + 30px);
        width: calc(100% + 30px);
    }
}